:root {
    /* Theme color variables */
    --teal: #16697A;
    --blue: #489FB5;
    --light-blue: #A9D3DB;
    --beige: #EDE7E3;
    --orange: #FFA62B;
    --light-orange: #FFC370;

    /* Make all text larger */
    font-size: 120%;
}

/* General stylings */
body {
    /* Set background color */
    background-color: var(--teal);
    color: var(--beige);
}

h1 {
    /* Largest heading is teal */
    color: var(--teal);
    /* Remove margin */
    margin: 0;
}

h2, h3, h4 {
    /* Ohter headings are orange */
    color: var(--orange);
}

a {
    color: var(--light-blue);
}

/* Header stylings */
header {
    /* Set the header background color and image */
    background-color: var(--beige);
    background-image: url(./assets/background.svg);
    /* Make the navbar text larger */
    font-size: 110%;
}

header > nav.navbar {
    /* Make navbar background transparent */
    background-color: transparent;
}

header > nav.navbar > div {
    /* Remove padding */
    padding: 0;
}

a.nav-link {
    /* Make nav links teal */
    color: var(--teal);
    /* Remove padding */
    padding: 2%;
}

a.nav-link:hover {
    /* Make nav links blue when hovered */
    color: var(--blue);
}

ul.navbar-nav > li.nav-item > a.nav-link.active {
    /* Make the active nav link white */
    color: white;
}

a.nav-link.active {
    /* Color the background of the active nav link */
    border-radius: 20px;
    background-color: var(--teal);
}

/* About page stylings */
.headshot {
    /* Set image size */
    width: 18em;
    /* Center the image on small screens */
    margin: auto;
    display: block;
}

/* Portfolio page stylings */
.project,
.project h3 {
    /* Increase the text size of the image overlay */
    font-size: 120%;
}

.project .icon {
    /* Increase the size of the GitHub icon */
    font-size: 110%;
}

.project > .card {
    /* Get rid of the card borders */
    border-width: 0;
}

.project > .card > .card-img-overlay {
    /* Hide image overlay initially */
    display: none;
}

.project > .card:hover > img {
    /* Blur image while hovering over card */
    filter: blur(5px) opacity(15%);
}

.project > .card:hover > .card-img-overlay {
    /* Show overlay while hovering over card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.project a,
.project p {
    /* Make color easier to read */
    color: var(--teal);
}

/* Contact page stylings */
button.btn.btn-primary {
    /* Change the button color */
    color: var(--teal);
    background-color: var(--light-orange);
    border-color: var(--light-orange);
}

button.btn.btn-primary:active {
    /* Change the active button color */
    color: var(--teal);
    background-color: var(--orange);
    border-color: var(--orange);
}

/* Footer stylings */
footer .icon {
    /* Make the icons larger */
    font-size: 300%;
}

footer .icon:hover {
    /* Change the icon color when hovered */
    color: var(--beige);    
}

/* Responsive stylings */
/* Small */
@media (min-width: 576px) {
    /* Portfolio page stylings */
    .project,
    .project h3 {
        /* Increase the text size of the image overlay */
        font-size: 140%;
    }

    .project .icon {
        /* Increase the size of the GitHub icon */
        font-size: 130%;
    }
}

/* Medium */
@media (min-width: 768px) {
    /* Header stylings */
    header {
        /* Increase navbar text size */
        font-size: 130%;
    }

    /* About page stylings */
    .headshot {
        /* Un-center the image */
        margin: 0;
        display: inline;
    }
}

/* Large */
@media (min-width: 992px) {
    /* Header stylings */
    header {
        /* Spread out navbar from main heading */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /* Portfolio page stylings */
    .project,
    .project h3 {
        /* Increase the text size of the image overlay */
        font-size: 130%;
    }

    .project .icon {
        /* Increase the size of the GitHub icon */
        font-size: 120%;
    }
}

/* XL */
@media (min-width: 1200px) {
    /* Portfolio page stylings */
    .project,
    .project h3 {
        /* Increase the text size of the image overlay */
        font-size: 140%;
    }

    .project .icon {
        /* Increase the size of the GitHub icon */
        font-size: 130%;
    }
}